<div class="sidebar-footer hidden-small" data-th-fragment="menu-footer-buttons">
    <a data-placement="top" data-toggle="tooltip" title="Settings">
        <span aria-hidden="true" class="glyphicon glyphicon-cog"></span>
    </a>
    <a data-placement="top" data-toggle="tooltip" title="FullScreen">
        <span aria-hidden="true" class="glyphicon glyphicon-fullscreen"></span>
    </a>
    <a data-placement="top" data-toggle="tooltip" title="Lock">
        <span aria-hidden="true" class="glyphicon glyphicon-eye-close"></span>
    </a>
    <a data-placement="top" data-toggle="tooltip" title="Logout">
        <span aria-hidden="true" class="glyphicon glyphicon-off"></span>
    </a>
</div>